@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box_sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Bitter', serif;
    color: #2d3c49;
}

p {
    font-family: 'Space Mono', monospace;
}

h2 {
    color: #7d97ad;
}

body {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

#avatar {
    width: 100%;
    border-radius: 50%;
}

#carousel {
    max-width: 80%;
}

#footer {
    margin-top: 20px;
}

.carouselImage {
    width: 100%;
}

.name {
    font-size: 6vw;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.align-right {
    text-align: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    min-width: 200px;
    max-width: 100%;
    max-height: 120px;
}

.fWork {
    min-width: 200px;
    padding-right: 1px;
    margin-bottom: 5px;
}

.link {
    text-decoration: none;
}

.skyblue {
    background-color: skyblue;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
}

.lightpink {
    background-color: lightpink;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
}

.aquamarine {
    background-color: aquamarine;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
}

.row {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
